**/node_modules
**/.next
**/dist
**/build
**/coverage
**/test-results
**/playwright-report
**/*.tsbuildinfo
**/.cache

archive
.git
.github
.husky
.vscode
.idea

.env
.env.*
!.env.example

*.log
.DS_Store
